:root {
  --bkgd-color: #cf9c4b;
  --pale-bkgd-color: #c4a469;
  --neutral-bkgd-color: #7a7864;
  --zelda-red: #f53224;
  --zelda-link-past-blue: #7f90d8;
  --zelda-green: rgb(115, 252, 88);
}

/* ====MAIN STYLES==== */
/***********************/
body {
  font-family: 'Press Start 2P', cursive, sans-serif;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
  background-blend-mode: normal, multiply;
}

nav {
  background-color: var(--bkgd-color);
  padding: 20px 0;
  width: 100%;
  margin-bottom: 20px;
}

h1,
h2 {
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 3rem;
  color: var(--zelda-red);
}

h2 {
  padding: 30px 0 15px;
}

p {
  margin: 0;
  padding: 5px 0;
}

button {
  padding: 10px;
}

.button:hover {
  color: var(--zelda-red);
}

a {
  text-decoration: none;
  color: #000;
}

/* ====SETUP==== */
/*****************/
.setup {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 50px;
  margin: 0 auto;
  background-image: url('its-dangerous-to-go-alone.jpg');
  background-size: cover;
}

#dangerous-alone {
  background-color: rgb(3, 3, 3);
  color: #fff;

}

.instructions {
  padding-bottom: 15px;
  font-size: 16px;
}

#start-btn,
#save-score-btn,
#initials {
  font-family: 'Press Start 2P', cursive, sans-serif;
  font-size: 18px;
}

#start-btn,
#save-score-btn {
  margin-bottom: 20px;;
}

.flame {
  height: 40px;
}

.button {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(239, 239, 239);
  box-sizing: border-box;
  border-width: 1px;
  border-color: #000;
}

/* ====HUD==== */
/***************/
.hud-container {
  background-color: var(--bkgd-color);
  flex-shrink: 1;
  max-width: 700px;
  margin: 20px auto 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #000;
}

.hud-item {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.timer-div {
  color: var(--zelda-green);
}

h3#countdown {
  margin: 0px;
  padding: 30px 0 15px 0;
  font-size: 30px;
}

/* ====QUIZ==== */
/****************/

#qa-container {
  padding: 0 100px;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  display: none;
}

.answer-container {
  display: flex;
  background-color: #fff;
  width: 100%;
  margin-bottom: 5px;
}

.choice-option {
  padding: 1.3rem;
  background-color: var(--zelda-link-past-blue);
  color: #fff;
  margin: 0;
}
/* rgb(27, 122, 180); */
.choice-text {
  width: 100%;
  padding: 1.3rem;
  margin: 0;
  box-sizing: border-box;
  border: 3px solid navy;
}

.choice-text:hover {
  color: var(--zelda-link-past-blue);
  border-color: var(--zelda-link-past-blue);

}

.incorrect {
  color: #000;
  background-color: var(--zelda-red);
  border-color: rgb(170, 15, 15); 
}

.correct {
  color: #000;
  background-color: var(--zelda-green);
  border-color: green;
}

/* ====WINNER==== */
/******************/

#winner-page {
  margin: 0 auto;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

#winner p,
#winner h1,
#winner label {
  margin-bottom: 20px;
}

#winner label {
  line-height: 2rem;
}

#final-score {
  padding: 10px;
  background-color: var(--zelda-green);
  color: #000;
}

#final-score:hover {
  color: #fff;
  background-color: green;
}

#winner input {
  margin-bottom: 10px;
  padding: 5px;
}

#winner input:focus {
  color: green;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#initials {
  width: 94px;
  padding: 5px 0 5px 5px;
  margin: 10px 0;
}

.previous-high-scores {
  display: flex;
}

#winner a {
  display: block;
  margin: 0 auto;
}

#winner .button  {
  width: 100px;
  border: 1px solid black;
  margin-bottom: 10px;
}

#winner .button:hover {
  color: green;
}

#list-name,
#list-score {
  list-style: none;
  text-align: left;
}

#list-name li,
#list-score li {
  padding: 3px;
  margin: 3px;
}

.previous-score-wrapper {
  background-color: var(--pale-bkgd-color)
}

.previous-high-scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#phs-h2 {
border-bottom: 5px solid var(--neutral-bkgd-color)
}

#initials-column,
#score-column {
  padding: 0 10px;
  margin: 0 20px;
}